<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Attributes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <h1 class="center-align"> You feel asleep </h1>
    <div class="sleep">

    </div>
    <p>{{attribute.getSleep}}</p>
    <h3 class="center-align"><a href="/">go home</a></h3>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
