<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tamagotchi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <h1 class="center-align">Tamagotchi</h1>


      {% for attribute in attributes%}
      <ul class="center-align">
        <li> Name: {{attribute.getName}}</li>
        <li> Food: {{attribute.getFood}}</li>
        <li> Attention: {{attribute.getAttention}}</li>
        <li> Sleep: {{attribute.getSleep}}</li>
      </ul>
      {% endfor %}
    {%if attributes is empty %}
      <h1 class="center-align">Enter a Name to start</h1>
      <div class="hero">
      </div>
    {% endif %}
    {% if attribute.food == 9 %}
      <p>game over</p>
    {% endif %}
    <div class="container">
      <div class="row">
        <form action='/name' method='post' class="col s10">
            <label for='name'>Name</label>
            <input id='name' name='name' type='text'>
            <button type='submit' class="waves-effect waves-light btn col s12" id="tamagotchiName">Set Name</button>
        </form>
      </div>
    </div>


    <div class="row">
      <form action='/food' method='get' class="col l3">
        <button type="submit" class="waves-effect waves-light btn">Food</button>
      </form>
      <form action='/attention' method='get' class="col l3">
        <button type="submit" class="waves-effect waves-light btn">Attention</button>
      </form>

      <form action='/sleep' method='get' class="col l3">
        <button type="submit" class="waves-effect waves-light btn">Sleep</button>
      </form>
      <form action='/delete_attr' method='post' class="col l3">
          <button type='submit' class="waves-effect waves-light btn">DELETE</button>
      </form>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>
</html>
